NODE_ENV=DEVELOPMENT
PORT=3004
POSTGRES_DB_HOST= db
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER= postg
POSTGRES_DB_PASSWORD= topsecret
POSTGRES_DB_DATABASE= listai
JWT_SECRET=JWT_SECRET
JWT_SECRET_REFRESH=JWT_SECRET_REFRESH
JWT_EXPIRES_IN_REFRESH=1d
JWT_EXPIRES_IN=1d

SWAGGER_USER=admin
SWAGGER_PASS=admin

PGADMIN_DEFAULT_EMAIL=admin@email.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8090

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=7


OTP_LENGTH=6
PHONE_OTP_API_TOKEN=4I9MIw9wmsdOw7ZnznRZHyMSd1Udt5AfZZsA2yq6uw36aCi6P1HPNmYNiXXlBpX7
PHONE_OTP_TOKEN_NAME=TOKEN
PHONE_OTP_TEMPLATE=714421